
:root {
  --primary: #b820e6;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Outfit', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

[i][data-lucide], i[data-lucide], svg[data-lucide] {
  vertical-align: middle;
}
